[submodule "MXChip/AZ3166/deps/lib/threadx"]
	path = MXChip/AZ3166/deps/lib/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "MXChip/AZ3166/deps/lib/netxduo"]
	path = MXChip/AZ3166/deps/lib/netxduo
	url = https://github.com/eclipse-threadx/netxduo.git
